{% set links = blok.locatie_links %}
{% set rechts = blok.locatie_rechts %}
{% set catlinks = links.terms('categorie_locaties') | join(' ') | lower %}
{% set catrechts = rechts.terms('categorie_locaties') | join(' ') | lower %}
<div class="row aanbod">
  <div class="col left">
    {% if links %}
      <a href="{{ links.link }}" class="block condensed links {{ catlinks }} {{ catlinks }}-en">
        {{ links.title }}
      </a>
    {% endif %}
  </div>
  <div class="col center">
    {% if links %}
      <div class="bar links">
        <div class="circle"></div>
      </div>
    {% endif %}
    {% if rechts %}
      {% if (blok.route_vanaf == 'onder') or (blok.route_vanaf == 'boven') %}
      {% else %}
        <div class="bar rechts">
          <div class="circle"></div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="col right">
    {% if rechts %}
      {% if blok.ingang_buiten %}
        {% set links = post.get_field('locatie_met_buiteningang') %}
        {% set catlinks = links.terms('categorie_locaties') | join(' ') | lower %}
        <a href="{{rechts.link}}" class="block rechts condensed detour {% if blok.route_vanaf == 'boven' %} boven {% elseif blok.route_vanaf == 'onder' %} onder {% endif %} {{ catrechts }}">         
          {{ rechts.title }}
        </a>
        <div class="bar links">
          <div class="circle"></div>
        </div> 
        <div class="vbar {% if blok.route_vanaf == 'boven' %} boven {% elseif blok.route_vanaf == 'onder' %} onder {% endif %}"></div>
      {% else %}
        <a href="{{ rechts.link }}" class="block condensed rechts {{ catrechts }} {{ catrechts }}-en">
          {{ rechts.title }}
        </a>
      {% endif %}
    {% endif %}
  </div>         
</div>