<div class="card infobox">
  <div class="card-body">
    <h5> {% if post.title %} {{ item.post_title }} {% else %} {{ item.title }} {% endif %}</h5>
    {% if item.adres %}
      <p>{{ item.adres }}</p>
    {% endif %}
    {% if item.telefoon %}
      <p>{{ item.telefoon }}</p>
    {% endif %}
    {% if item.email %}
      <p><a href="mailto:{{ item.email }}">{{ item.email }}</a></p>
    {% endif %}
    {% if item.capaciteit or item.grootte or item.faciliteiten or item.horeca %}
      <ul>
        {% if item.capaciteit %}
          <li><span class="condensend">Capaciteit </span> {{ item.capaciteit }} personen </li>
        {% endif %}
        {% if item.grootte %}
          <li><span class="condensend">Grootte </span> {{ item.grootte }} m2</li>
        {% endif %}
        {% if item.faciliteiten %}
          <li><span class="condensend">Faciliteiten </span> {{ item.faciliteiten }}</li>
        {% endif %}
        {% if item.horeca %}
          <li><span class="condensend">Horeca </span> {{ item.horeca }}</li>
        {% endif %}
      </ul>
    {% endif %}
    {% if item.week %}
      <ul>
        {% for dag in item.get_field('week') %}
          {% if dag.the_day == 'mon' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Maandag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Maandag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'tue' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Dinsdag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Dinsdag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'wed' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Woensdag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Woensdag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'thu' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Donderdag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Donderdag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'fri' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Vrijdag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Vrijdag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'sat' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Zaterdag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Zaterdag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
          {% if dag.the_day == 'sun' %} 
            {% if dag.open %}
              <li>
                <span class="condensend">Zondag</span> 
                 {{ dag.open }} — {{ dag.close }}
              </li>
            {% else %}
              <li>
                <span class="condensend">Zondag</span> 
                gesloten
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>