<div class="card infobox">
  <div class="card-body">
    <h5> {% if post.title %} {{ item.post_title }} {% else %} {{ item.title }} {% endif %}</h5>
    {% if item.adres %}
      <p>{{ item.adres }}</p>
    {% endif %}
    {% if item.telefoon %}
      <p>{{ item.telefoon }}</p>
    {% endif %}
    {% if item.email %}
      <p><a href="mailto:{{ item.email }}">{{ item.email }}</a></p>
    {% endif %}
    {% if item.capaciteit or item.grootte or item.faciliteiten or item.horeca %}
      <ul>
        {% if item.capaciteit %}
          <li><span class="condensend">Capaciteit </span> {{ item.capaciteit }} personen </li>
        {% endif %}
        {% if item.grootte %}
          <li><span class="condensend">Grootte </span> {{ item.grootte }} m2</li>
        {% endif %}
        {% if item.faciliteiten %}
          <li><span class="condensend">Faciliteiten </span> {{ item.faciliteiten }}</li>
        {% endif %}
        {% if item.horeca %}
          <li><span class="condensend">Horeca </span> {{ item.horeca }}</li>
        {% endif %}
      </ul>
    {% endif %}
    <ul>
      <li>
        <span class="condensend">Maandag</span> 
        {% if item.mon_open %} {{ item.mon_open | date("H:i") }} — {{ item.mon_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Dinsdag</span> 
        {% if item.tue_open %} {{ item.tue_open | date("H:i")  }} — {{ item.tue_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Woensdag</span> 
        {% if item.wed_open %} {{ item.wed_open | date("H:i")  }} — {{ item.wed_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Donderdag</span> 
        {% if item.thu_open %} {{ item.thu_open | date("H:i")  }} — {{ item.thu_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Vrijdag</span> 
        {% if item.fri_open %} {{ item.fri_open | date("H:i")  }} — {{ item.fri_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Zaterdag</span> 
        {% if item.sat_open %} {{ item.sat_open | date("H:i")  }} — {{ item.sat_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
      <li>
        <span class="condensend">Zondag</span> 
        {% if item.sun_open %} {{ item.sun_open | date("H:i")  }} — {{ item.sun_close | date("H:i")  }} {% else %} gesloten {% endif %}
      </li>
    </ul>
  </div>
</div>