<div class="card infobox">
  <div class="card-body">
    <h5 class="condensed"> {% if post.title %} {{ item.post_title }} {% else %} {{ item.title }} {% endif %}</h5>
    {% if item.adres %}
      <p>{{ item.get_field('adres') }}</p>
    {% endif %}
    {% if item.telefoon %}
      <p>{{ item.telefoon }}</p>
    {% endif %}
    {% if item.website %}
      <p><a href="{{ item.website }}">Website</a></p>
    {% endif %}
    {% if item.email %}
      <p><a href="mailto:{{ item.email }}">Email</a></p>
    {% endif %}
    {% if item.capaciteit or item.grootte or item.faciliteiten or item.horeca %}
      <ul>
        {% if item.capaciteit %}
          <li><span class="condensend">{{ options.capaciteit }} </span> {{ item.capaciteit }} {{ options.personen }} </li>
        {% endif %}
        {% if item.grootte %}
          <li><span class="condensend">{{ options.grootte }} </span> {{ item.grootte }} m2</li>
        {% endif %}
        {% if item.faciliteiten %}
          <li><span class="condensend">{{ options.faciliteiten }} </span> {{ item.faciliteiten }}</li>
        {% endif %}
        {% if item.horeca %}
          <li><span class="condensend">{{ options.horeca }} </span> {{ item.horeca }}</li>
        {% endif %}
      </ul>
    {% endif %}
    {% if item.mon_open or item.tue_open or item.wed_open or item.thu_open or item.fri_open or item.sat_open or item.sun_open %}
      <ul>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Monday {% else %} Maandag {% endif %}</span> 
          {% if item.mon_open %} {{ item.mon_open | date("H:i") }} — {{ item.mon_close | date("H:i")  }} {% else %}{{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Tuesday {% else %} Dinsdag {% endif %}</span> 
          {% if item.tue_open %} {{ item.tue_open | date("H:i")  }} — {{ item.tue_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Wednesday {% else %} Woensdag {% endif %}</span> 
          {% if item.wed_open %} {{ item.wed_open | date("H:i")  }} — {{ item.wed_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Thursday {% else %} Donderdag {% endif %}</span> 
          {% if item.thu_open %} {{ item.thu_open | date("H:i")  }} — {{ item.thu_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Friday {% else %} Vrijdag {% endif %}</span> 
          {% if item.fri_open %} {{ item.fri_open | date("H:i")  }} — {{ item.fri_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Saturday {% else %} Zaterdag {% endif %}</span> 
          {% if item.sat_open %} {{ item.sat_open | date("H:i")  }} — {{ item.sat_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
        <li>
          <span class="condensend">{% if currentlanguage == 'en' %} Sunday {% else %} Zondag {% endif %}</span> 
          {% if item.sun_open %} {{ item.sun_open | date("H:i")  }} — {{ item.sun_close | date("H:i")  }} {% else %} {{ options.gesloten }} {% endif %}
        </li>
      </ul>
    {% endif %}
  </div>
</div>