<section id="events" class="mod-events alt">
  <div class="container">
    <h2 class="float-left"> {{ item.titel }} </h2>
    <a href="{% if currentlanguage == 'en' %}/en{% endif %}/agenda{% if item.dag == 'morgen' %}?date=tomorrow{% else %}?date=today{% endif %}" class="btn btn-secondary float-right">  {{ item.morebtntitle }} <i class="fal fa-arrow-circle-right"></i></a>
    <div class="clearfix"></div>
    <div class="row">
	    <div class="col-md-18 offset-md-1">
        <div class="js-slick-events cards">
          {% if item.dag == 'vandaag' %}
            {% for blok in evenementen_vandaag %}  
              <div class="card-wrapper {% if post.special %} special {% endif %}">
                <a href="{{ blok.link }}" class="card">
                  <div class="card-img-top" style="background-image: url({{ TimberImage(blok.afbeelding)|resize(480) }})">
                    <img class="overlay" src="{{ theme.link ~ "/assets/images/house.svg" }}" alt="image">
                  </div>
                  <div class="card-body">
                    <h3> {{ blok.title }} </h3>
                    {% if blok.type_evenement %}
                      <p class="type-event"> {{ blok.type_evenement }} </p>
                    {% endif %}
                    <div class="date"> 
                      {% if blok.custom.datum %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-calendar"></i> </span> {{ blok.custom.datum|date("d F Y") }} 
                        {% if (blok.custom.einddatum) and (blok.custom.datum != blok.custom.einddatum) %} {{ options.tm }} <br> {{ blok.custom.einddatum|date("d F Y") }} {% endif %}</div>
                      {% endif %}
                      {% if blok.begintijd or blok.eindtijd %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-clock"></i> </span>
                        {% if blok.custom.begintijd %} {{ blok.custom.begintijd|date("H:i") }} {% endif %} 
                        {% if blok.custom.eindtijd %}  
                          {% if blok.custom.begintijd %} — {% endif %}
                          {{ blok.custom.eindtijd|date("H:i") }} 
                        {% endif %}
                        </div>
                      {% endif %}
                    </div> 
                    {% if blok.locatie %}
                      <div class="location condensed">
                        {% set locatie = blok.get_field('locatie') %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-map-marker-alt"></i> </span> {{ locatie }}</div>
                      </div>
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          {% elseif item.dag =='morgen' %}
            {% for blok in evenementen_morgen %}  
              <div class="card-wrapper {% if post.special %} special {% endif %}">
                <a href="{{ blok.link }}" class="card">
                  <div class="card-img-top" style="background-image: url({{ TimberImage(blok.afbeelding)|resize(480) }})">
                    <img class="overlay" src="{{ theme.link ~ "/assets/images/house.svg" }}" alt="image">
                  </div>
                  <div class="card-body">
                    <h3> {{ blok.title }} </h3>
                    {% if post.type_evenement %}
                      <p> {{ post.type_evenement }} </p>
                    {% endif %}
                    <div class="date"> 
                      {% if blok.custom.datum %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-calendar"></i> </span> {{ blok.custom.datum|date("d F Y") }} 
                          {% if (blok.custom.einddatum) and (blok.custom.datum != blok.custom.einddatum) %} {{ options.tm }} <br> {{ blok.custom.einddatum|date("d F Y") }} {% endif %}
                        </div>
                      {% endif %}
                      {% if blok.custom.begintijd or blok.custom.eindtijd %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-clock"></i> </span>
                          {% if blok.custom.begintijd %} {{ blok.custom.begintijd|date("H:i") }} {% endif %} 
                          {% if blok.custom.eindtijd %}  
                            {% if blok.custom.begintijd %} — {% endif %}
                            {{ blok.custom.eindtijd|date("H:i") }} 
                          {% endif %}
                        </div>
                      {% endif %}
                    </div> 
                    {% if blok.locatie %}
                      <div class="location condensed">
                        {% set locatie = blok.get_field('locatie') %}
                        <div class="iconitem"><span class="icon"> <i class="fal fa-map-marker-alt"></i> </span> {{ locatie }}</div>
                      </div>
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>