<section id="events" class="mod-events alt">
  <div class="container">
    <h2 class="float-left"> {{ item.titel }} </h2>
    <a href="/agenda{% if item.titel == 'Morgen' %}?date=tomorrow{% endif %}" class="btn btn-secondary float-right">  {{ item.morebtntitle }} <i class="fas fa-arrow-circle-right"></i></a>
    <div class="clearfix"></div>
    <div class="row">
	    <div class="col-md-18 offset-md-1">
        <div class="js-slick-events cards">
          {% for blok in evenementen_vandaag %}  
            <div class="card-wrapper">
              <a href="{{ blok.link }}" class="card">
                {% if blok.afbeelding %}
                  <div class="card-img-top">
                    <img class="overlay" src="{{ theme.link ~ "/assets/images/house.svg" }}" alt="image">
                    <img class="img-fluid" src="{{ TimberImage(blok.afbeelding) }}" alt="image">
                  </div>
                {% endif %}
                <div class="card-body">
                  <h3> {{ blok.title }} </h3>
                  <div class="date"> 
                    {% if blok.datum %}
                      <span class="icon"> <i class="fa fa-calendar"></i> </span> {{ blok.datum|date("d F Y") }} <br>
                    {% endif %}
                    {% if blok.begintijd or blok.eindtijd %}
                      <span class="icon"> <i class="fa fa-clock"></i> </span>
                      {% if blok.begintijd %} {{ blok.begintijd|date("H:i") }} {% endif %} 
                      {% if blok.eindtijd %}  
                        {% if blok.begintijd %} — {% endif %}
                        {{ blok.eindtijd|date("H:i") }} 
                      {% endif %}
                    {% endif %}
                  </div> 
                  {% if blok.locatie %}
                    <div class="location">
                      {% set locatie = blok.get_field('locatie') %}
                      <span class="icon"> <i class="fa fa-map-marker-alt"></i> </span> {{ locatie }}
                    </div>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>