{% extends "base.twig" %}

{% block content %}
  <section class="mod-eventfilter-agenda">
    <div class="timenow" style="display:none">{{ time_now }}</div>
    <div class="datenow" style="display:none">{{ date_now }}</div>
    <div class="container">
      <form role="search" method="get" id="searchform" action="{{ site.url }}/agenda">
        <div class="row">
          <div class="col-8 col-lg-3">
            <input name="date" type="text" class="form-control js-datepicker" placeholder="Datum" value="{{date_sanitized}}">
          </div>
          <div class="col-8 col-lg-2">
            <input name="time" type="text" class="form-control js-timepicker" placeholder="Tijd" value="{{time_sanitized}}">
          </div>
          <div class="col-4 col-lg-2">
            <a class="form-control js-now"> Nu </a>
          </div>
          <div class="col-lg-10">
            <div class="mod-filterbar">
              <div class="row">
                {% for item in cat %}
                  {% if item.get_posts|length > 0 %}
                    <div class="col">
                      <label class="{{ item.slug }} {% if category.slug == item.slug or item.slug in selected_cats|keys %} active {% endif %}">
                        <input type="checkbox" name="category[]" value="{{ item.slug }}" {% if item.slug in selected_cats|keys %} checked="checked" {% endif %} />
                        {% include theme.url ~ '/templates/partials/svg/' ~ item.slug ~ '.svg.twig' %}
                        <div><span class="condensed"> {{ item.slug }} </span></div>
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <input type="submit" class="btn btn-outline-light" value="Plan">
          </div>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div class="container">
      <h1> {{ date_filter_full }} </h1>
      {% if evenementen|length > 0 %}
        <div class="mod-agenda">
          {% for post in evenementen %}
            {% set catje = post.terms('categorie') | join(' ') | lower %}
            {% if the_hour != post.begintijd|date("H") %}
              {% set the_hour = post.begintijd|date("H") %}
              {% set showmoviebox = 'true' %}
              <div class="hourblock">
                <div class="row">
                  <div class="col-md-5">
                    <div class="meta">
                      <div class="hour">{{ the_hour }}:00 <span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if (catje == 'film') and (showmoviebox == 'true') %}
              {% include ['partials/moviebox.twig'] %}
              {% set showmoviebox = 'false' %}
            {% elseif catje != 'film' %}
              {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="mod-agenda">
          <h3> Geen evenementen</h3>
          <br>
        </div>
      {% endif %}
      {% if winkels|length > 0 %}
        <div class="mod-locaties winkels">
          <div class="line">
            <div class="row">
              <div class="col-md-5">
                <div class="meta">
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h2> Winkels open op {{ day_filter_full }} </h2>
              <div class="row">
                {% for post in winkels %}
                  {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if horeca|length > 0 %}
        <div class="mod-locaties horeca">
          <div class="line">
            <div class="row">
              <div class="col-md-5">
                <div class="meta">
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h2> Horeca open op {{ day_filter_full }} </h2>
              <div class="row">           
                {% for post in horeca %}
                  {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="text-center">
    <br>
      <a href="#" class="btn btn-secondary"> Later <i class="fas fa-arrow-circle-down"></i></a>
    </div>
  </section>
{% endblock %}