{% extends "base.twig" %}

{% block content %}
  <div class="mod-greenbar">
    <div class="container d-none d-md-block">
	    <a href="{% if currentlanguage == 'en' %}/en{% endif %}/aanbodkaart" class="float-left"><i class="fal fa-arrow-circle-left"></i> {{ options.toon_als_kaart }}</a>
	    <div class="clearfix"></div>
    </div>
  </div>
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-md-18 offset-md-1">
          <h1> In De Hallen </h1>
          <div class="mod-filterblocks">
            <ul>
              <li class="{% if current_category == '' %} active {% endif %}">
                <a href="/aanbod">{{ options.toon_alle }}s</a>
              </li>
              {% for cat in category %}
                <li class="{% if cat.id == current_category %} active {% endif %}">
                  <a href="/locatie_categorie/{{ cat.slug }}">{{ cat.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="cards cards-archive">
        <div class="row">
          {% for blok in posts %}
            {% if blok.dontshow %}{% else %}
              <div class="col-md-10 col-xl-5">
                <div class="card-wrapper nopb">
                  <a href="{{ blok.link }}" class="card">
                    <div class="card-img-top" style="background-image: url({{ TimberImage(blok.afbeelding)|resize(480) }})">
                      <img class="overlay" src="{{ theme.link ~ "/assets/images/house.svg" }}" alt="image">
                    </div>
                    <div class="card-body">
                      <h3 class="condensed"> {{ blok.title }} </h3>
                    </div>
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}