{% extends "base.twig" %}


{% block content %}
<script>
var dh_load_more_events_repeat = 0;
function load_more_events() {
	jQuery.post( "{{dh_agenda_ajaxurl}}", jQuery( "#searchform" ).serialize(), function( data ) {
  		
  		data = JSON.parse(data);
  		if( jQuery(".mod-agenda").children().length > 1 ) {
	  		jQuery( '.dh_no_hits' ).remove();  		
  		}
  		
  		// No hits
  		if( jQuery(".mod-agenda").children().length == 1 ) {
  			jQuery( ".mod-agenda" ).append(data.body);
  			jQuery( '.dh_no_hits' ).first().remove();
  		} else {
  		 	jQuery( ".mod-agenda article:last-child" ).after(data.body);
		}
		
		// Make sure
		if( jQuery( '.dh_no_hits' ).length > 1 ) {
			jQuery( '.dh_no_hits' ).first().remove();
		}
  		
  		jQuery( '#searchoffset' ).val( (parseInt(jQuery( '#searchoffset' ).val()) + data.offsetvalue) );
  		jQuery( '#dh_load_more_events_button').blur();
});
}
</script>
  <section class="mod-eventfilter-agenda">
    <div class="timenow" style="display:none">{{ time_now }}</div>
    <div class="datenow" style="display:none">{{ date_now }}</div>
    <div class="d-none d-md-block container">
      <form role="search" method="get" id="searchform" action="{{ site.url }}/agenda">
      <input type="hidden" name="offset" value="{{dh_agenda_ajaxoffset}}" id="searchoffset" />
        <div class="row">
          <div class="col-8 col-lg-3">
            <input name="date" type="text" class="form-control js-datepicker" placeholder="{{ options.datum|lower }}" value="{{date_sanitized}}">
          </div>
          <div class="col-8 col-lg-2">
            <input name="time" type="text" class="form-control js-timepicker" placeholder="{{ options.tijd|lower }}" value="{{time_sanitized}}">
          </div>
          <div class="col-auto">
            <a class="form-control js-now"> {{ options.nu|lower }} </a>
          </div>
          <div class="col-16 col-lg-10">
            <div class="mod-filterbar">
              <div class="row">
                {% for item in cat %}
                  {% if item.get_posts|length > 0 %}
                    <div class="col">
                      <label class="{{ item.slug }} {% if category.slug == item.slug or item.slug in selected_cats|keys %} active {% endif %}">
                        <input type="checkbox" name="category[]" value="{{ item.slug }}" {% if item.slug in selected_cats|keys %} checked="checked" {% endif %} />
                        {% include theme.url ~ '/templates/partials/svg/' ~ item.slug ~ '.svg.twig' %}
                        <div><span class="condensed"> {{ item.slug }} </span></div>
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-4 col-lg-3">
            <input type="submit" name="planbutton" class="btn btn-outline-light" value="Plan">
          </div>
        </div>
      </form>
    </div>
    <div class="d-md-none container">
      <div class="row">
        <div class="col-10">
          <a href="/" class="btn btn-outline-light"> {{ options.zoeken }} </a>
        </div>
        <div class="col-10">
          <a href="#" class="btn btn-outline-light" onClick="load_more_events(); return false;"> {{ options.later }} </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h1> 
        <span class="d-block d-sm-none">{{ date_filter_short | upper }}</span> 
        <span class="d-none d-sm-block">{{ date_filter_full | capitalize }}</span> 
      </h1>
      
      <div class="mod-agenda">
        {% include ['partials/archive-evenementen-single.twig'] %}
      </div>
      
      {% if ('shops' in selected_cats) or (selected_cats is empty) %}
        {% include ['partials/winkels.twig'] %}
      {% endif %}
      
      {% if ('horeca' in selected_cats) or (selected_cats is empty) %}
        {% include ['partials/horeca.twig'] %}
      {% endif %}
    </div>
    <div class="text-center">
    <br>
      <a href="#" id="dh_load_more_events_button" onClick="load_more_events(); return false;" class="btn btn-secondary"> {{ options.later }} <i class="fal fa-arrow-circle-down"></i></a>
    </div>
  </section>
{% endblock %}
