<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-5">
        <div class="footerblock">
          <h5> {{ options.openingstijden_titel }} </h5>
          {{ options.openingstijden }}
        </div>
      </div>
      <div class="col-md-10 col-lg-5">
        <div class="footerblock">
          <h5> {{ options.adres_titel }} </h5>
          {{ options.adres }}
        </div>
      </div>
      <div class="col-md-10 col-lg-5">
        <div class="footerblock">
          <h5> {{ options.plan_titel }} </h5>
          {% include "footermenu.twig" with {'footermenu': footermenu.get_items} %}
        </div>
      </div>
      <div class="col-md-10 col-lg-5">
        <div class="footerblock">
          <h5> {{ options.volgons_titel }}</h5>
          <div class="followus">
            <a href="{{options.facebook}}"><i class="fab fa-facebook-f"></i></a>
            <a href="{{options.twitter}}"> <i class="fab fa-twitter"></i> </a>
            <a href="{{options.instagram}}"><i class="fab fa-instagram"></i> </a>
            <a href="{{options.mail}}"> <i class="fal fa-envelope"></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footermenu">
      
    </div>
  </div>
</footer>