<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-5 offset-lg-1">
        <h5> Openingstijden </h5>
        {{ options.openingstijden }}
      </div>
      <div class="col-md-10 col-lg-5">
        <h5> Adres </h5>
        {{ options.adres }}
      </div>
      <div class="col-md-10 col-lg-2">
        <h5> Plan </h5>
        {% include "footermenu.twig" with {'footermenu': footermenu.get_items} %}
      </div>
      <div class="col-md-8 col-lg-4">
        <h5> Nieuwsbrief </h5>
        <form action="//dehallen-amsterdam.us14.list-manage.com/subscribe/post?u=e98520de559c9b9109a20dc75&amp;id=eaf6ae0904" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-form" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
          	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="e-mail adres" required=""><br>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--><p></p>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e98520de559c9b9109a20dc75_eaf6ae0904" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="button mti_font_element"></div>
          <p></p></div>
        </form>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="followus">
          <a href="{{options.facebook}}"><img src="{{theme.link}}/assets/images/facebook.svg"></a>
          <a href="{{options.twitter}}"> <img src="{{theme.link}}/assets/images/twitter.svg"> </a>
          <a href="{{options.instagram}}"> <img src="{{theme.link}}/assets/images/instagram.svg"> </a>
        </div>
      </div>
    </div>
    <div class="footermenu">
      
    </div>
  </div>
</footer>