{% if menutaal|length > 1 %}
	<ul class="menutaal">
  	{% for item in menutaal %}
  		<li class="{{item.classes | join(' ')}} ">
  			<a href="{{item.get_link}}">{{item.title}}</a>
  			{% include "menutaal.twig" with {'menutaal': item.get_children} %}
  		</li>
  	{% endfor %}
	</ul>
{% elseif menutaal|length == 1 %}
	<ul class="menutaal">
  	{% for item in menutaal %}
  		<li class="{{item.classes | join(' ')}} ">
  			<a href="{{item.get_link}}">{{item.title}}</a>
  		</li>
  	{% endfor %}
  	<li class="menu-item wpml-ls-slot-24 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-24-en ">
  		<a href="{{ site.url }}/en/"><span class="wpml-ls-native">English</span></a>
    </li>
	</ul>
{% endif %}