<div class="mod-mobilemenu">
  <div class="top">
    <a class="js-menu closemenu">
      <span> </span>
      <span> </span>
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-6 col-xl-5">
          {% include "menu.twig" with {'menu': menu.get_items} %}
        </div>
        <div class="col-lg-8 col-xl-8 d-none d-lg-block">
          <img src="{{ options.kaartje }}">
        </div>
        <div class="col-md-10 col-lg-6 col-xl-6 offset-xl-1">
          <div class="third">
            <div class="menublock">
              {% include "menutaal.twig" with {'menutaal': menutaal.get_items} %}
            </div>
            <div class="menublock">
              <h3> OPENINGSTIJDEN </h3>
              {{ options.openingstijden }}
            </div>
            <div class="menublock">
              <h3> ADRES </h3>
              {{ options.adres }}
            </div>
            <div class="menublock">
              <h3> PLAN </h3>
              {% include "footermenu.twig" with {'footermenu': footermenu.get_items} %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-1 col-md-8 offset-md-1">
          {% include "menuextra.twig" with {'menuextra': menuextra.get_items} %}
        </div>
        <div class="col-md-6 offset-md-5 col-md-6 offset-md-5">
          <div class="followus">
            <div class="">Volg ons</div>
            <br>
            <a href="{{options.facebook}}"><i class="fab fa-facebook-f"></i></a>
            <a href="{{options.twitter}}"> <i class="fab fa-twitter"></i> </a>
            <a href="{{options.instagram}}"><i class="fab fa-instagram"></i> </a>
            <a href="{{options.mail}}"> <i class="fal fa-envelope"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>