{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
    <div class="mod-greenbar">
      <div class="container d-none d-md-block">
  	    <a href="{% if currentlanguage == 'en' %}/en{% endif %}/aanbod" class="float-left"><i class="fal fa-arrow-circle-left"></i> {{ options.toon_als_lijst }}</a>
  	    <div class="clearfix"></div>
      </div>
    </div>
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<div class="article-body">
  			<section class="d-block d-md-none">
          <div class="container">
            <div class="row">
              <div class="col-md-18 offset-md-1">
                <h1> In De Hallen </h1>
                <br>
              </div>
            </div>
            <div class="cards cards-archive">
              <div class="row justify-content-center">
                {% for blok in aanbod %}  
                  <div class="col-md-10 col-lg-6 col-xl-5">
                    <div class="card-wrapper nopb">
                      <a href="{{ blok.link }}" class="card">
                        <div class="card-img-top" style="background-image: url({{ TimberImage(blok.afbeelding)|resize(480) }})">
                          <img class="overlay" src="{{ theme.link ~ "/assets/images/house.svg" }}" alt="image">
                        </div>
                        <div class="card-body">
                          <h3> {{ blok.title }} </h3>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
			  <section class="d-none d-md-block">
			    <div class="container">
            <div class="row">
              <div class="col-md-18 offset-md-1">
                <h1> {{ post.title }} </h1>
                {{ ismobile }}
              </div>
            </div>
			      <div class="row">
  			      <div class="offset-md-2 col-md-16">
                <div class="mod-aanbodkaart d-none d-sm-block">
                  <div class="mod-aanbodfilter">
                    <div class="row">
                      {% for cat in category %}
                        <div class="col">
                          <a href="#" data-aanbodfilter="{{ cat.slug | lower }}" class="block condensed {{ cat.slug | lower }}">{{ cat.title }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="space">
                    <div class="row">
                      <div class="col middle">
                      </div>
                      <div class="col middle center">
                        <div>
                          <span> entree Ten Katemarkt </span>
                        </div>
                        <div class="hbar boven"></div>
                      </div>
                      <div class="col middle">
                        <div class="hbar"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col left">
                      </div>
                      <div class="col center">
                      </div>
                      <div class="col right">
                      </div>
                    </div>
                    {% for blok in post.get_field('ten_katemarkt') %}  
                      {% include 'partials/aanbodkaart.twig' %}
                    {% endfor %}
                    <div class="row">
                      <div class="col middle">
                      </div>
                      <div class="col middle center">
                        <div>
                          <span> entree Tollenstraat </span>
                        </div>
                        <div class="hbar onder"></div>
                      </div>
                      <div class="col middle">
                        <div class="hbar"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col left">
                      </div>
                      <div class="col center">
                      </div>
                      <div class="col right">
                      </div>
                    </div>
                    {% for blok in post.get_field('tollenstraat') %}  
                      {% include 'partials/aanbodkaart.twig' %}
                    {% endfor %}
                    <div class="row">
                      <div class="col">
                        <div class="bottom">
                          <span> entree <br> Bilderdijkkade </span>
                          <div> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
			  </section>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}