{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {% if post.afbeelding %}
        <div class="mod-pageheader">
          <div class="bg" style="background-image: url({{ post.get_field('afbeelding') }}"></div>
          <img class="overlay" src="{{ theme.link ~ '/assets/images/house-white.svg' }}" alt="image">
        </div>
      {% else %}
        <div class="mod-greenbar">
        </div>
      {% endif %}
			<div class="article-body">
			  <section>
			    <div class="container">
			      <div class="row">
  			      <div class="offset-lg-1 col-lg-18">
  			      <h1> {{ post.title }}</h1>
                {{ post.content }}
  			      </div>
			      </div>
			    </div>
			  </section>
			  {% include 'pagebuilder.twig' %}
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}