<article class="tease tease-{{post.post_type}} {% if post.special %} special {% endif %}" id="tease-{{post.ID}}">
  <div class="row">
    <div class="col-md-5">
      <div class="meta">
        <div class="caticon">
          {% include theme.url ~ '/templates/partials/svg/' ~ catje ~ '.svg.twig' %}</div>
      </div>
    </div>
    <div class="col-md-14">
      <div onclick="location.href='{{ post.link }}'" class="card {{ catje }}">
        <div class="row">
          <div class="col-md-10">
            {% if post.afbeelding %} 
              <div class="bg">
                <div class="bgcover" style="background-image: url({{ TimberImage(post.afbeelding)|resize(480) }})"> </div>
              </div>
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h3> {{ post.title }} </h3>
              {% if post.type_evenement %}
                <p class="type-event"> {{ post.type_evenement }} </p>
              {% endif %}
              <div class="date"> 
                <div class="iconitem">
                  {% if post.custom.datum %}
                    <i class="fal fa-calendar"></i> {{ post.custom.datum|date("d F Y") }} 
                    {% if (post.custom.einddatum) and (post.custom.datum != post.custom.einddatum) %} {{ options.tm }} <br> {{ post.custom.einddatum|date("d F Y") }} {% endif %} <br>
                  {% endif %}
                </div>
                <div class="iconitem">
                  {% if post.custom.begintijd or post.custom.eindtijd %}
                    <i class="fal fa-clock"></i>
                    {% if post.custom.begintijd %} {{ post.custom.begintijd|date("H:i") }} {% endif %} 
                    {% if post.custom.eindtijd %}  
                      {% if post.custom.begintijd %} — {% endif %}
                      {{ post.custom.eindtijd|date("H:i") }}
                    {% endif %}
                  {% endif %}
                </div>
              </div> 
              {% if post.locatie %}
                <div class="location condensed">
                  <div class="iconitem">
                    {% set locatie = post.get_field('locatie') %}
                    <i class="fal fa-map-marker-alt"></i> {{ locatie }}
                  </div>
                </div>
              {% endif %}
            </div>
            {% if post.gratis %}
              <div class="btn btn-block btn-primary nolink"> {{ options.gratis_entree }} </div>
            {% elseif post.ticketlink %}
              <a href="{{ post.ticketlink }}" target="_blank" class="btn btn-block btn-primary"> {{ options.tickets }} <i class="fal fa-arrow-circle-right"></i> </a>
            {% else %}
              <div class="btn btn-block btn-primary nolink"> {{ options.geen_tickets }} </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>